/.idea/$PROJECT_FILE$
/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/pom.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/qaplug_profiles.xml
/.idea/vcs.xml
